*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #A27035;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #533e2d;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #533e2dc4
     0 0 50px #533e2d
     0 0 100px #533e2d;
     animation: animate 15s linear infinite;
     animation-duration: calc(78s / var(--i));
}
.bubbles span:nth-child(even){
    background: #242331;
    box-shadow: 0 0 0 10px #242331bc
    0 0 50px #242331
    0 0 100px #242331;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}